.toy-details {
    @include flex-center;
    flex-direction: column;
    padding: 20px;
    background-color: $card-bg;
    border-radius: $border-radius;
    @include box-shadow();
  
    &:hover {
      @include box-shadow(0.2);
    }
  
    h3 {
      @include responsive-text(1.2rem, 1.5rem);
      color: $text-color;
  
      span {
        font-weight: bold;
        color: $secondary-color;
      }
    }
  
    a {
      color: $accent-color;
      font-weight: bold;
      margin-top: 20px;
      transition: color $transition;
  
      &:hover {
        color: $accent-hover-color;
      }
    }
  }

  /** Media Queries */
@media (max-width: 768px) {
  
    .toy-details {
      padding: 15px;
      width: 90%;
  
      h3 {
        font-size: 1rem;
      }
  
      a {
        font-size: 0.9rem;
      }
    }
  }
  