/* AppHeader Styles */
.app-header {
    background-color: #6e2060;
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; // Full width for header
    display: flex;
    flex-direction: column;

}

.app-header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}


.app-header .container {
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column; // Ensure elements inside are stacked vertically
    width: 100%;
}

.app-header nav {
    display: flex;
    gap: 15px;
}

.app-header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.app-header nav a:hover {
    color: #ae8ce1;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info button {
    background-color: #ae8ce1;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-info button:hover {
    background-color: #2e65a4;
}
